@model IEnumerable<HelloDarlingMVC3.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h3>Mina match</h3>

<nav class="navbar navbar-light ">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sök</button>
    </form>
</nav>

<h4>Kontaktförfrågningar</h4>
@foreach (var item in Model)
{
    @if (item.Status == 1)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@("~/image/" + item.Profile1.ImageName)" height="230" width="300" asp-append-version="true" class="card-img" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Profile1.FirstName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Profile1.Bio)</p>
                        <p class="card-text"><small class="text-muted">Plats: @Html.DisplayFor(modelItem => item.Profile1.Place)</small></p>
                        <a asp-controller="Matches" asp-action="CreateMatch" asp-route-id="@item.Profile1Id" type="button" class="btn btn-danger">
                            Godkänn
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        </a>
                        <a asp-controller="Matches" asp-action="RejectMatch" asp-route-id="@item.Profile1Id" type="button" class="btn btn-dark">
                            Godkänn ej
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-octagon-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </a>
                        <p></p>
                        <a asp-controller="ProfileModels" asp-action="Profiles" asp-route-id="@item.Profile1.Id" type="button" class="btn btn-info">Gå till profil</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
<h3>Kontakter</h3>
@foreach (var item in Model)
{
    @if (item.Status == 2)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@("~/image/" + item.Profile1.ImageName)" height="230" width="300" asp-append-version="true" class="card-img" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Profile1.FirstName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Profile1.Bio)</p>
                        <p class="card-text"><small class="text-muted">Plats: @Html.DisplayFor(modelItem => item.Profile1.Place)</small></p>
                        <a asp-controller="ProfileModels"  asp-action="Profiles" asp-route-id="@item.Profile1.Id" type="button" class="btn btn-info">Gå till profil</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Profile1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Favorite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile1.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile2.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Favorite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
