@model IEnumerable<HelloDarlingMVC3.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h3>Mina match</h3>

<nav class="navbar navbar-light ">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sök</button>
    </form>
</nav>

<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Match 2020-09-21</small></p>
        </div>
    </div>


@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Profile1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Favorite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile1.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile2.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Favorite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
