@model HelloDarlingMVC3.Models.ProfileModel

@{
    ViewData["Title"] = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>

<form asp-controller="ProfileModels" asp-action="Edit" >
    <div class="container">
        <div class="row">
            <div class="col">

                <img src="@("~/image/" + Model.ImageName)" asp-append-version="true" height="255" width="255" />
                <div>
                    <p></p>
                    <a asp-controller="Matches" asp-action="CreateMatch" asp-route-id="@Model.Id"  type="button" class="btn btn-danger">
                        Skicka kontaktförfråga
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                    </a>
                    <p></p>
                    <p>Hur väl ni matchar:</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @Model.MatchingValue%" aria-valuenow="@Model.MatchingValue" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="form-group">
                    <label for="formGroupExampleInput">Förnamn</label>
                    <input asp-for=@Model.FirstName class="form-control" type="text" id="formGroupExampleInput" placeholder="" disabled>
                    <span asp-validation-for="@Model.FirstName class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Efternamn</label>
                    <input asp-for=@Model.LastName class="form-control" type="text" id="formGroupExampleInput" placeholder="" disabled>
                    <span asp-validation-for="@Model.LastName class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Ålder</label>
                    <input asp-for=@Model.Age class="form-control" type="text" id="formGroupExampleInput" placeholder="" disabled>
                    <span asp-validation-for="@Model.Age class=" text-danger"></span>
                </div>

            </div>

                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Plats</label>
                                <input asp-for=@Model.Place class="form-control" id="exampleFormControlSelect1" disabled>
                                    @*<option> Välj</option>
                                    <option> Stockholm</option>
                                    <option>Uppsala</option>
                                    <option>Malmö</option>
                                    <option>Lund</option>
                                    <option>Göteborg</option>
                                    <option>Luleå</option>
                                    <option>Umeå</option>

                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                    <option>Göteborg</option>
                                </select>*@
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Kön</label>
                                <input asp-for=@Model.Gender class="form-control" id="exampleFormControlSelect1" disabled>
                                    @*<option> Välj</option>
                                    <option>Kvinna</option>
                                    <option>Man</option>
                                    <option>Annat</option>
                                </select>*@
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    <div class="col">
        <p>
            <div class="form-group">
                <span class="badge badge-pill badge-info">BIO</span>
            </div>
        </p>
    </div>

    <div class="col">
        <p>
            <div class="form-group">
                <textarea asp-for=@Model.Bio class="form-control" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
                <span asp-validation-for="@Model.Bio class=" text-danger"></span>
            </div>

        </p>
    </div>

    <div class="col">
        <p>
            <div class="form-group">
                <span class="badge badge-pill badge-info">Utseende</span>
            </div>
        </p>
    </div>



    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="formGroupExampleInput">Längde</label>
                    <input asp-for=@Model.UserAppearance.Height class="form-control" type="text" id="formGroupExampleInput" placeholder="" disabled>
                    <span asp-validation-for="@Model.UserAppearance.Height class=" text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Hårfärg</label>
                    <input asp-for=@Model.UserAppearance.HairColor class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj färg</option>
                        <option>Blond</option>
                        <option>Brunett</option>
                        <option>Svart</option>
                        <option>Skallig</option>*@
                    @*</input>*@
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ögonfärg</label>
                    <input asp-for=@Model.UserAppearance.EyeColor class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj färg</option>
                        <option>Blå</option>
                        <option>Grön</option>
                        <option>Brun</option>
                        <option>Blandat</option>
                    </select>*@
                </div>


            </div>
        </div>
    </div>

    <div class="col">
        <p>
            <div class="form-group">
                <span class="badge badge-pill badge-info">Mina intresser</span>
            </div>
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Litteratur</label>
                    <input asp-for=@Model.UserInterests.Books class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj genre</option>
                        <option>Fakta</option>
                        <option>Skönliteratur</option>
                        <option>Äventyr</option>
                    </select>*@
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Film</label>
                    <input asp-for=@Model.UserInterests.Movies class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj genre</option>
                        <option>Fakta</option>
                        <option>Skönlitteratur</option>
                        <option>Äventyr</option>
                    </select>*@
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Musik</label>
                    <input asp-for=@Model.UserInterests.Music class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj genre</option>
                        <option>Rock</option>
                        <option>Indie</option>
                        <option>Klassik</option>
                    </select>*@
                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Bilar</label>
                    <input asp-for=@Model.UserInterests.Cars class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj</option>
                        <option>Volvo</option>
                        <option>Saab</option>
                    </select>*@
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tv-spel</label>
                    <input asp-for=@Model.UserInterests.TVgame class="form-control" id="exampleFormControlSelect1" disabled>
                        @*<option>Välj spel</option>
                        <option>Super Mario</option>
                        <option>CS</option>
                    </select>*@
                </div>
            </div>
        </div>

    </div>


    @*<div class="col">
        <p>
            <div class="form-group">
                <span class="badge badge-pill badge-info">Vad jag söker</span>
            </div>
        </p>
    </div>*@

    @*<div class="container">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Åld (måste fixa till att ha range)</label>
                    <select asp-for=@Model.UserInterests.Books class="form-control" id="exampleFormControlSelect1">
                        <option>Välj åld</option>
                        <option>18-25</option>
                        <option>25-30</option>
                        <option>30-35</option>
                        <option>35-40</option>
                        <option>40-45</option>
                    </select>
                </div>
            </div>
            <div class="col">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Kön</label>
                    <select asp-for=@Model.UserInterests.Movies class="form-control" id="exampleFormControlSelect1">
                        <option>Välj kön</option>
                        <option>Kvinnor</option>
                        <option>Män</option>
                        <option>Annat</option>
                    </select>
                </div>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="row justify-content-end">
            <input type="submit" value="Spara" class="btn btn-dark" />
        </div>
    </div>*@
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

