@model IEnumerable<HelloDarlingMVC3.Models.ProfileModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Sök match</h3>

<nav class="navbar navbar-light ">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sök</button>
    </form>
</nav>

@foreach (var item in Model)
{
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@("~/image/" + item.ImageName)" height="230" width="300" asp-append-version="true" class="card-img" alt="Responsive image" >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Bio)</p>
                <p class="card-text"><small class="text-muted">Plats: @Html.DisplayFor(modelItem => item.Place)</small></p>
                <button asp-controller="ProfileModels" asp-action="Profiles/(@Html.DisplayFor(modelItem => item.Id)" type="button" class="btn btn-info">Gå till profil</button>
            </div>
        </div>
    </div>
</div>
}


    @*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityNO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsersCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsersCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoinDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
