@model IEnumerable<HelloDarlingMVC3.Models.ProfileModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Sök match</h3>

<nav class="navbar navbar-light ">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sök</button>
    </form>
</nav>

@foreach (var item in Model)
{

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@("~/image/" + item.ImageName)" height="230" width="300" asp-append-version="true" class="card-img" alt="Responsive image" >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Bio)</p>
                <p class="card-text"><small class="text-muted">Plats: @Html.DisplayFor(modelItem => item.Place)</small></p>
                <a asp-controller="ProfileModels" asp-action="Profiles" asp-route-id="@item.Id" type="button" class="btn btn-info">Gå till profil</a>
            </div>
        </div>
    </div>
</div>
}


